.tabsContainer {
    width:100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:10px 0px;
    box-sizing: border-box;
   

        .tabs {

           width:50%;
           height:100%;
              display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 46px;

                .tab {
                    width: 130px;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    gap: 8px;

                    p {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 36px;


                        color: #304C5F;
                                                
                    }

                    img {
                      width: 32px;
                      height: 32px;

                    }

                 
        }

                .activeTab {
                    width:130px;
                    height:100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap:8px;
                    border-bottom: 3px solid #D23B38;
                    p {
                  font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 36px;

                
               


        color: #D23B38;
                    }

                    img {
                      width: 32px;
                      height: 32px;

                    }

                    

           
        }


    
}

}